{% extends 'base.html.twig' %}

{% block title %}EditarController!{% endblock %}

{% block body %}
<h1>Actualizacion Inventario: </h1>
<form action="http://localhost/capacitacion/evaluacion/public/index.php/actualizar/{{ Inventario.id }}" method="post">
    <table>
        <tr>
            <td>Id: </td>
            <td><label>{{ Inventario.id }}</label></td>
        </tr>
        <tr>
            <td>Titulo: </td>
            <td><input type="text" name="titulo" value="{{ Inventario.titulo }}"></td>
        </tr>
        <tr>
            <td>Descripcion: </td>
            <td><input type="text" name="descripcion" value="{{ Inventario.descripcion }}"></td>
        </tr>
        <tr>
            <td>Año de Publicacion: </td>
            <td><input type="text" name="publicacion" value=""></td>
        </tr>
        <tr>
            <td>Autor: </td>
            <td><input type="text" name="autor" value="{{ Inventario.autor }}"></td>
        </tr>
    </table>
    <input type="submit" value="Actualizar">
</form>
{% endblock %}
