{% extends 'base.html.twig' %}

{% block title %}Hello RegistroController!{% endblock %}

{% block body %}

<h1>Registro Inventario: </h1>
<form action="registrar" method="post">
    <table>
        <tr>
            <td>Titulo: </td>
            <td><input type="text" name="titulo"></td>
        </tr>
        <tr>
            <td>Descripcion: </td>
            <td><input type="text" name="descripcion"></td>
        </tr>
        <tr>
            <td>Año de Publicacion: </td>
            <td><input type="number" name="publicacion"></td>
        </tr>
        <tr>
            <td>Autor: </td>
            <td><input type="text" name="autor"></td>
        </tr>
    </table>
    <input type="submit" value="Registrar">
</form>

{% endblock %}
