{% extends 'base.html.twig' %}

{% block title %}InventarioController{% endblock %}

{% block body %}
<h1> {{ controller_name }}</h1>
<table border="1">
 <thead>
  <tr>
    <td>Id Inventario</td>
    <td>Titulo</td>
    <td>Descripcion</td>
    <td>Año de Publicacion</td>
    <td>Autor</td>
    <td>Editar</td>
    <td>Eliminar</td>
  </tr>
 </thead>
 <tbody>
    {% for lista in Inventario %}
    <tr>
        <td>{{ lista.id }}</td>
        <td>{{ lista.titulo }}</td>
        <td>{{ lista.descripcion }}</td>
        <td>*falta Informacion*</td>
        <td>{{ lista.autor }}</td>
        <td><a href="editar/{{ lista.id }}">Editar</a></td>
        <td><a href="eliminar/{{ lista.id }}">Eliminar</a></td>
    </tr>
    {% endfor %}
 </tbody>
</table>

</p>

<form action="registro" method="post">
    <input type="submit" value="Nuevo Registro">
</form>
{% endblock %}
