{% extends 'base.html.twig' %}

{% block title %}InventarioController{% endblock %}

{% block body %}
<p> {{ mensaje }}</p>

<form action="http://localhost/capacitacion/evaluacion/public/index.php/inventario" method="post">
    <input type="submit" value="Retornar">
</form>
{% endblock %}